html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 100%;
}

p {
    line-height: 10%;
}


.manacost {
    padding-right: 5px;
    padding-left: 5px;
}